@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(229, 63%, 5%);
    color: white;
    font-feature-settings: "rlig" 1, "calt" 1;
    position: absolute;
    overflow: hidden;
    transition: background 1.5s;
    scroll-behavior: smooth;
  }

  html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
